MEF_Core_UI/Service References/ServiceReferenceTransfer/TransferService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DownloadWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DownloadWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DownloadRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DownloadRequest" nillable="true" type="tns:DownloadRequest" />
  <xs:complexType name="RemoteFileInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileByteStream" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RemoteFileInfo" nillable="true" type="tns:RemoteFileInfo" />
</xs:schema>